﻿@model ArchivesDuMaroc.Models.EntrustArchivesViewModel
@using Kentico.Web.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Confieznous vos archives";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.EntrustArchivesHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.EntrustArchivesTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-element">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 pager">
                    <p>
                        <img src="@Url.Kentico().ImageUrl(@Model.EntrustArchivesImage, SizeConstraint.Empty)" alt="">
                    </p>
                    @Html.Raw(Model.EntrustArchivesText)
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <strong>
                            @Html.Raw(Model.EntrustArchivesQuote)
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>