﻿@model ArchivesDuMaroc.Models.TechnicalAssistanceViewModel
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Assistance Technique";
}
@section styles
{
    @Html.Kentico().PageBuilderStyles()
}
@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.TechnicalAssistanceHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.TechnicalAssistanceTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    @Html.Kentico().EditableArea("main", "AM.SingleColumnSection", new string[] { "ArchivesDuMaroc.Widget.ContactWidget" })
</section>
