﻿@using CMS.DocumentEngine.Types.AM
@using System.Globalization
@using ArchivesDuMaroc.Helpers
@using ArchivesDuMaroc.Models.Menu;
@model IEnumerable<MenuItemViewModel>
@{

    string getSubMenu(MenuItemViewModel menuItem)
    {
        string url = "#";
        if (!string.IsNullOrEmpty(menuItem.MenuItemRelativeUrl))
        {
            url = Url.Content(menuItem.MenuItemRelativeUrl);
        }
        string s = "<a href='" + url + "'>" + menuItem.MenuItemText + "</a>";
        if (menuItem.Children.Any())
        {
            s += "<ul class='dropdown-menu posright-0'>";
            foreach (var item in menuItem.Children.Where(m => m.IsPublished))
            {
                if (item.Children.Any())
                {
                    s += "<li class='dropdown'>";
                }
                else
                {
                    s += "<li>";
                }
                s += getSubMenu(Html.GetMenuItem((MenuItem)item)) + "</li>";
            }
            s += "</ul>";
        }
        return s;
    }
    string logo = "";
    if (ViewBag.Logo != null)
    {
        logo = ViewBag.Logo;
    }
}

<a class="navbar-brand" href="@Url.Action("", "Accueil")">
    <img src="@Url.Kentico().ImageUrl(logo, SizeConstraint.Empty)" class="img-fluid" alt="logo">
</a>

<div id="menu-button">
    <div>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div id="lower-header">
    <ul class="nav navbar-nav navbar-left" id="navigation">
        @{
            int i = 1;
            foreach (var menuItem in Model)
            {
                <li @(menuItem.Children.Any() ? "class='dropdown'" : "") @(i == Model.Count() ? "id=menu_Toggle" : "")>
                    @Html.Raw(getSubMenu(menuItem))
                </li>
                i++;
            }
        }
        @*<li><a href="">Accueil</a></li>
        <li class="dropdown">
            <a href="#">Institution </a>
            <ul class="dropdown-menu posright-0">
                <li><a href="">Edito</a></li>
                <li><a href="">Directeur</a></li>
                <li class="dropdown">
                    <a href="#">A propos des Archives du Maroc</a>
                    <ul class="dropdown-menu posright-0">
                        <li><a href="">Prsentation</a></li>
                        <li><a href="">Organigramme</a></li>
                        <li><a href="">Stratgie</a></li>
                        <li><a href="">Coopration</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Informations pratiques</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">Avant de venir</a>
                        </li>
                        <li>
                            <a href="">
                                Horaires
                                douverture
                            </a>
                        </li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Annonces</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">Programmes prvisionnels</a>
                        </li>
                        <li>
                            <a href="">Appels doffres</a>
                        </li>
                        <li>
                            <a href="">Appels projets</a>
                        </li>
                        <li><a href="">Recrutement</a></li>
                        <li>
                            <a href="">Candidatures aux postes de responsabilit</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Activits </a>
            <ul class="dropdown-menu posright-0">
                <li class="dropdown">
                    <a href="#">Activits culturelles</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">Journe Nationale des Archives</a>
                        </li>
                        <li>
                            <a href="">
                                Journe
                                Internationale des Archives
                            </a>
                        </li>
                        <li>
                            <a href="">Colloques et confrences</a>
                        </li>
                        <li>
                            <a href="">Rencontres</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Expositions</a>
                            <ul class="dropdown-menu posright-0">
                                <li>
                                    <a href="">Galerie des expositions</a>
                                </li>
                                <li>
                                    <a href="">
                                        Expositions
                                        virtuelles
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Visites</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Activits professionnelles</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">
                                Rencontre
                                avec un(e) expert(e)
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Journes
                                dtude
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        Formations
                        mtier
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Services</a>
            <ul class="dropdown-menu posright-0">
                <li class="dropdown">
                    <a href="#">Accder  nos espaces</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">
                                Salle
                                de
                                consultation
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Salle
                                polyvalente
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Galerie
                                des Archives du Maroc
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        Assistance
                        technique
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#">Collecte des archives</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">
                                Archives
                                publiques
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Confiez-nous
                                vos archives !
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        Formations
                        professionnelles
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown" id="menu_Toggle">
            <a href="#">Ressources</a>
            <ul class="dropdown-menu posright-0">
                <li class="dropdown">
                    <a href="#">Bote  outils</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">Rglementation</a>
                        </li>
                        <li>
                            <a href="">
                                Outils
                                de gestion des archives
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Mdiathque</a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <a href="">Publications</a>
                        </li>
                        <li>
                            <a href="">
                                Revue
                                de
                                Presse
                            </a>
                        </li>
                        <li>
                            <a href="">Photothque</a>
                        </li>
                        <li>
                            <a href="">Vidothque</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>*@


        @*<div class="links-header-container">
            <ul class="nav">
                <li class="nav-item">
                    @if (CultureInfo.CurrentCulture.Name == "ar-MA")
                    {
                        @Html.CultureLink("Fr", "Fr-MA")
                    }
                    else
                    {
                        @Html.CultureLink("عربي", "Ar-MA")
                    }
                </li>
            </ul>
        </div>*@
    </ul>
</div>


@*<button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto py-4 py-md-0">

        @foreach (var menuItem in Model)
        {
            <li class='nav-item pl-4 pl-md-0 ml-0 ml-md-4'>
                @Html.Raw(getSubMenu(menuItem, true))
            </li>
        }
    </ul>
</div>*@