﻿@model ArchivesDuMaroc.Models.Base.FooterViewModel

@using System.Globalization
@using ArchivesDuMaroc.Helpers
@using CMS.DocumentEngine.Types.AM

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="address">
                <p>
                    @Model.master.CompanyName <br>
                    @Model.master.Address
                    <br>
                </p>
                <p class="contact">
                    @Html.GetUiString("PhoneFooter") : @Model.master.Phone<br>
                    @Html.GetUiString("FaxFooter") : @Model.master.Fax<br>
                    @Html.GetUiString("EmailFooter") : @Model.master.Email<br>
                </p>
            </div>
        </div>
        @foreach (var item in Model.MenuItems.Take(3).ToList())
        {
            <div class="col-lg-3 col-md-6">
                <div class="list-container">
                    <h3 class="title">@item.MenuItemText</h3>
                    <ul class="list-unstyled">
                        @foreach (var subItem in item.Children.Take(4))
                        {
                            var subMenuItem = Html.GetMenuItem((MenuItem)subItem);
                            if (subMenuItem.MenuItemRelativeUrl == null)
                            {
                                <li><a href="#">@subMenuItem.MenuItemText</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Content(subMenuItem.MenuItemRelativeUrl)">@subMenuItem.MenuItemText</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="list-container">
                <h3 class="title">@Html.GetUiString("WhereFooter")</h3>
                <div class="img-container">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="350" height="190" id="gmap_canvas"
                                    src="@Model.master.Location"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.youtube.com/watch?v=uhcGwXxWZe0"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="opening-times">
                <h3 class="title">@Html.GetUiString("Footer.OpeningHours")</h3>
                <ul class="list-unstyled">
                    @foreach (var openingHour in Model.openingHours)
                    {
                        <li>
                            <span class="day">@openingHour.Day</span>
                            @if (openingHour.Closed)
                            {
                                <span class="time closed">@Html.GetUiString("closed")</span>
                            }
                            else
                            {
                                <span class="time">@openingHour.TimeStart – @openingHour.TimeEnd</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        @{
            var itemM = Model.MenuItems.LastOrDefault();
            <div class="col-lg-3 col-md-6">
                <div class="list-container">
                    <h3 class="title">@itemM.MenuItemText</h3>
                    <ul class="list-unstyled">
                        @foreach (var subItem in itemM.Children.Take(5))
                        {
                            var subMenuItem = Html.GetMenuItem((MenuItem)subItem);
                            if (subMenuItem.MenuItemRelativeUrl == null)
                            {
                                <li><a href="#">@subMenuItem.MenuItemText</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Content(subMenuItem.MenuItemRelativeUrl)">@subMenuItem.MenuItemText</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="col-lg-3 col-md-6">
            <div class="list-container">
                <h3 class="title">@Html.GetUiString("Footer.FollowUs")</h3>
                <ul class="list-inline">
                    @foreach (var socialMedia in Model.socialMedias)
                    {
                        <li><a href="@socialMedia.Link" target="_blank"><i class="@socialMedia.LinkIcon"></i></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">

            </div>
        </div>
    </div>
</div>