﻿@using ArchivesDuMaroc.Helpers
@model List<string>
@if (Model.Any())
{
    <section class="offers-carousel">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span>@Html.GetUiString("lastAds")</span>
                </div>
                <div class="col-md-9">
                    <div id="carouselContent" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner last-ads" role="listbox">

                            @foreach (var item in Model)
                            {
                                <div class="carousel-item">
                                    <p>@item</p>
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}