﻿@model ArchivesDuMaroc.Models.PublicationItemViewModel
@using Kentico.PageBuilder.Web.Mvc
@using System.Globalization
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Publications";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image"
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.PublicationHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                                <li>@Html.ActionLink(Html.GetUiString("Home.Our.Publications").ToHtmlString(), "Index", "Publications")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.PublicationTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5 pub-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="row z-depth-2">
                    <div class="col-md-4">
                        <img class="img-fluid p-4" src="@Url.Kentico().ImageUrl(@Model.PublicationImage, SizeConstraint.Empty))" alt="">
                        @if (!string.IsNullOrEmpty(@Model.PublicationFile))
                        {
                            <div class="mt-4 text-center">
                                <a href="@Url.Kentico().FileUrl(@Model.PublicationFile, new FileUrlOptions() { AttachmentContentDisposition = true })" target="_blank" class="button-download mb-3">
                                    <i class="fa fa-cloud-download"></i>
                                    @Html.GetUiString("download")
                                </a>
                            </div>
                        }

                    </div>

                    <div class="col-md-8 justify">
                        <h3 class="my-3">@Model.PublicationTitle</h3>
                        <h3 class="my-3">@Html.GetUiString("Publication.Details")</h3>
                        @Html.Raw(Model.PublicationReferences)
                        @Html.Raw(Model.PublicationText)
                    </div>

                    <div id="share-buttons" class="noprint col-md-12 ">
                        <span class="noprint">@Html.GetUiString("Publication.Share") : </span>
                        <a href="" title="Share on Facebook." class="facebook noprint" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="" class="googleplus noprint" target="_blank">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                        <a href="" title="Share on LinkedIn" class="linkedin noprint" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="" title="Tweet this!" class="twitter noprint" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="" onclick="javascript:print();" title="Print this!" class="print">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
