﻿@model ArchivesDuMaroc.Models.PublicationsViewModel
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Publications";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.PublicationsHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.PublicationsTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        @foreach (var item in Model.Slider)
                        {
                            <div class="col-md-4 mt-6">
                                <div class="card-flip pub-card border-0 mb-4">
                                    <div class="flip">
                                        <div class="front rad" style="background-image: url(@Url.Kentico().ImageUrl(item.PublicationImage, SizeConstraint.Empty))">
                                        </div>
                                        <div class="back text-center ">
                                            <!-- back content -->
                                            <div class="card rad">
                                                <div class="card-header mt-2">
                                                    <h5>@item.PublicationTitle</h5>
                                                </div>
                                                <div class="card-body">
                                                    @if (item.PublicationText.Length > 470)
                                                    {
                                                        <p class="card-text">@Html.Raw(item.PublicationText.Substring(0, item.PublicationText.IndexOf(" ", 470, StringComparison.Ordinal)))...</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="card-text">@Html.Raw(item.PublicationText)</p>
                                                    }
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row">
                                                        <div class="col-6 pub">
                                                            @if (!string.IsNullOrEmpty(item.PublicationFile))
                                                            {
                                                                <a href="@Url.Kentico().FileUrl(item.PublicationFile, new FileUrlOptions() { AttachmentContentDisposition = true })" target="_blank" class="ml-4">
                                                                    <i class="fa fa-cloud-download mt-2 green-icon"></i>
                                                                </a>
                                                            }
                                                        </div>
                                                        <div class="col-6">
                                                            <a href="@Url.Action("Details", "Publications", new { id = item.NodeGUID })" class="d-flex flex-row-reverse p-2 btn-green">
                                                                <h5>@Html.GetUiString("Publication.MoreDetails")</h5>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
