﻿@model ArchivesDuMaroc.Models.NewspaperItemViewModel
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - " + Model.DocumentName;
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image"
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.NewspaperHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                                <li>@Html.ActionLink(Html.GetUiString("Home.Newspaper").ToHtmlString(), "", "RevuePresse")</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.NewspaperTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5 pub-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                @if (!string.IsNullOrWhiteSpace(Model.NewspaperFile))
                {
                    <embed height="1000px" width="100%" src="@Url.Kentico().FileUrl(Model.NewspaperFile, new FileUrlOptions() { AttachmentContentDisposition = true })" />
                }
            </div>
        </div>
    </div>
</section>
