﻿@model ArchivesDuMaroc.Models.NewspapersViewModel
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Revuue de presse";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.NewspapersHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.NewspapersHeroTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="multiple-elements press-elements">
    <div class="container">
        <form method="post">
            <div class="form-group">
                <select class="select2 form-control block select2-hidden-accessible" multiple="" readonly name="filter"
                        id="responsive_multi" style="width: 70%" data-select2-id="responsive_multi"
                        tabindex="-1" aria-hidden="true">
                    @foreach (var year in Model.Years)
                    {
                        <option value="@year" @(Model.SelectedYears.Contains(year) ? "selected='selected'" : "")>@year</option>
                    }
                </select>
                <input type="submit" class="btn btn-success btn-filter" value="@Html.GetUiString("Revue.Show")"/>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 font">
                <div class="row">
                    @foreach (var item in Model.Slider)
                    {
                        <div class="col-md-3 mt-4 col-sm-4">
                            <div class="item">
                                <div class="img-container">
                                    <a href="@Url.Action("Details", "RevuePresse", new { id = item.NodeGUID })">
                                        <div class="background-img"
                                             style="background-image: url(@Url.Kentico().ImageUrl(item.NewspaperImage, SizeConstraint.Empty))">
                                            <span class="card-year">@item.NewspaperYear</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="item-content">
                                    <h4 class="category">
                                        <a href="@Url.Action("Details", "RevuePresse", new { id = item.NodeGUID })">
                                            <p>@item.NewspaperTitle</p>
                                        </a>
                                    </h4>
                                    <h3 class="title"><a href="@Url.Action("Details", "RevuePresse", new { id = item.NodeGUID })">@Html.Raw(item.NewspaperDescription)</a></h3>
                                    <h5>@item.NewspaperSource</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
<script>
    $("select").select2({
    tags: "true",
    placeholder: "@Html.GetUiString("Revue.Placeholder")",
    allowClear: true
    });
</script>
}