﻿@model ArchivesDuMaroc.Models.PresentationViewModel

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Présentation";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                    style="background-image: url(@Url.Kentico().ImageUrl(@Model.PresentationHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.PresentationTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-element">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 pager">
                    <img class="img-fluid rounded" src="@Url.Kentico().ImageUrl(@Model.PresentationImage, SizeConstraint.Empty)" alt="">
                    <hr>
                    @Html.Raw(Model.PresentationText)
                </div>
            </div>
        </div>
    </div>
</section>