﻿@using System.Globalization
@using System.Threading
@using ArchivesDuMaroc.Helpers
<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="9-Frf9aDKu6DBGzzBb5-41235mpGOP1LjhAqHto-KOA" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/favicon.ico">
    <link rel="stylesheet" href="~/Content/Css/select2.min.css">
    @if (CultureInfo.CurrentCulture.Name == "ar-MA")
    {
        <link rel="stylesheet" href="~/Content/Css/main-ar.css">
        <link href="https://fonts.googleapis.com/css?family=Tajawal&display=swap" rel="stylesheet">
    }
    else
    {
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/Css/main-fr.css">
    }

    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
</head>

<body>
    <header>
        <div class="navigation-wrap bg-light start-header start-style">
            <div class="container">
                <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                    @Html.Action("GetMenu", "Base")
                    <div class="links-header-container">
                        <ul class="nav">
                            <li class="nav-item" style="font-size: 1.3rem">
                                @if (CultureInfo.CurrentCulture.Name == "ar-MA")
                                {
                                    @Html.CultureLink("Fr", "Fr-MA")
                                }
                                else
                                {
                                    @Html.CultureLink("عربي", "Ar-MA")
                                }
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        @Html.Action("GetLastAds", "Base")
        @RenderBody()
    </main>

    <footer style="background: url(@Url.Content("~/Content/Images/back-Home-Ap.png"));background-size:contain;">
        @Html.Action("GetFooter", "Base")
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <script src="~/Scripts/form-select2.min.js"></script>
    <script src="~/Scripts/select2.full.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script>
        $(".last-ads").children().first().addClass("active");
        $(".slider-home").children().first().addClass("active");
        $(".slider-activity").children().first().addClass("active");
        $(".slider-cooperation").children().first().addClass("active");
        $(".slider-cooperation-indicators").children().first().addClass("active");
    </script>
    @RenderSection("scripts", false)
</body>
</html>