﻿@model ArchivesDuMaroc.Models.ConsultationRoomViewModel

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Salle de consultation";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner   banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.ConsultationRoomHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.ConsultationRoomTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-element">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 pager">
                    @Html.Raw(Model.ConsultationRoomText) 
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="@Url.Kentico().ImageUrl(@Model.ConsultationRoomImage, SizeConstraint.Empty))" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        @Html.Raw(Model.ConsultationRoomQuote)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <div class="download-wrap">
                        <div class="download">
                            <a href="@Url.Kentico().FileUrl(Model.FileRegulation, new FileUrlOptions() { AttachmentContentDisposition = true })" class="button-download">
                                <i class="fa fa-cloud-download"></i>
                                @Model.TitleRegulation
                            </a>
                            <a href="@Url.Kentico().FileUrl(Model.FileSubscription, new FileUrlOptions() { AttachmentContentDisposition = true })" class="button-download">
                                <i class="fa fa-cloud-download"></i>
                                @Model.TitleSubscription
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
