﻿@model ArchivesDuMaroc.Models.CooperationViewModel

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Coopération";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.CooperationHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.CooperationTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events-carousel carousel-cooperation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
                     data-ride="carousel">
                    <!--Slides-->
                    <div class="carousel-inner slider-cooperation" role="listbox">
                        @foreach (var slider in Model.Slider)
                        {
                            <div class="carousel-item">
                                <img class="d-block w-100" src="@Url.Kentico().ImageUrl(slider.SliderCooperationImage, SizeConstraint.Empty)" alt="First slide">
                            </div>
                        }
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                    <ol class="carousel-indicators slider-cooperation-indicators">
                        @{ 
                            int i = 0;
                        }
                        @foreach (var slider in Model.Slider)
                        {
                            <li data-target="#carousel-thumb" data-slide-to="@i">
                                <img src="@Url.Kentico().ImageUrl(slider.SliderCooperationImage, SizeConstraint.Empty)" width="100">
                            </li>
                            i++;
                        }
                        </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-element">
    <div class="container">
        <div class="well">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 pager">
                    @Html.Raw(Model.CooperationText)
                </div>
            </div>
        </div>
    </div>
</section>

