﻿@model ArchivesDuMaroc.Models.DirectorViewModel

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Directeur";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.DirectorHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.DirectorTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team mt-5">
    <div class="container">
        <div class="row">
            <article class="col-md-12  col-sm-12">
                <div class="member">
                    <div class="post_thumbnail mb-3">
                        <img src="@Url.Kentico().ImageUrl(@Model.DirectorImage, SizeConstraint.Empty)"
                             class="attachment-team-member size-team-member wp-post-image" alt="">
                    </div>
                    <h3 class="member_function">@Html.Raw(Model.DirectorImageTitle)</h3>
                </div>
            </article>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 pager">
                @Html.Raw(Model.DirectorText)
            </div>
        </div>
    </div>
</section>