﻿@model ArchivesDuMaroc.Models.RegulationsViewModel

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Réglementation";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.RegulationsHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.RegulationsTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="content mb-4">
                    @Html.Raw(Model.RegulationsText)
                </div>
                <div class="content mb-4">
                    <div class="row ">
                        <div class="col-md-12">
                            <h3 class="mb-4">@Html.GetUiString("ArchivalTools.Downloads")</h3>
                            @foreach (var slider in Model.Slider)
                            {
                                <a target="_blank" href="@Url.Kentico().FileUrl(slider.RegulationFile, new FileUrlOptions() { AttachmentContentDisposition = true })" class="button-download mb-3">
                                    <i class="fa fa-cloud-download"></i>
                                    @slider.DocumentName
                                </a>
                            }
                            </div>
                    </div>
                </div>

            </article>
        </div>
    </div>
</section>