/****** Start General ******/

* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    background: #FAFAFA
}

.gmap_canvas {
    line-height: 0;
}

.navbar {
    padding: 0rem 0rem;
}

a.nav-link {
    font-size: 1.3rem;
}

section.offers-carousel {
    margin-top: 7%;
    margin-bottom: 10px;
}

h1.Title {
    padding-bottom: 1rem;
}

.pager h4 {
    font-weight: 600;
}

.gmap_canvas {
    line-height: 0;
}

/****** Start Offers Carousel ******/

section.offers-carousel .carousel-item.active, section.offers-carousel .carousel-item-next, section.offers-carousel .carousel-item-prev {
    display: block;
}

@media (min-width: 768px) {
    section.offers-carousel .col-md-3 {
        max-width: 20%;
    }
    section.offers-carousel .col-md-9 {
        max-width: 80%;
        flex: 0 0 80%;
    }
}

section.offers-carousel .col-md-3 span {
    background: #26A69A;
    color: #fff;
    font-size: 18px;
    width: 100%;
    display: inline-block;
    padding: 6px 10px;
    font-weight: 600;
    letter-spacing: .5px;
}

section.offers-carousel .carousel-control-next, section.offers-carousel .carousel-control-prev {
    background: #26a69a;
    width: 40px;
    height: 37px;
    opacity: .95;
}

section.offers-carousel .carousel-control-prev {
    right: 42px;
    left: unset
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 14px;
    height: 14px;
}

section.offers-carousel .carousel-item p {
    padding: 6.5px 0;
}

/****** End Offers Carousel ******/

/****** Start Events Carousel ******/

section.events-carousel .carousel-caption {
    top: 54%;
    bottom: unset;
    left: 10%;
    text-align: left;
}

section.events-carousel img {
    max-height: 555px;
}

section.events-carousel .carousel-caption h2 {
    font-size: 56px;
    font-weight: bolder;
}

section.events-carousel .carousel-caption p {
    font-size: 24px;
}

.events-carousel .carousel-control-next, .events-carousel .carousel-control-prev {
    width: 10%;
    background: #cccccc;
}

.events-carousel .carousel-control-prev, .events-carousel .carousel-control-next {
    background: transparent;
    transition: .3s all;
}

.events-carousel .carousel-control-prev:hover {
    background-image: linear-gradient(to right, #BDBDBD, transparent);
}

.events-carousel .carousel-control-next:hover {
    background-image: linear-gradient(to left, #BDBDBD, transparent);
}

/****** End Events Carousel ******/

/****** Start Large Element section ******/

section.large-element {
    margin-top: 40px;
}

section.large-element .row {
    padding: 0 15px;
}

section.large-element .col-md-4, section.large-element .col-md-8 {
    padding: 0
}

section.large-element .col-md-8 div.row div.col-md-4 {
    padding-left: 0rem;
}

.col-md-8 div.row div.col-md-8 {
    padding-right: 0;
}

section.large-element .background-img {
    height: 100%;
    background-position: center;
    -webkit-box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 20px -6px rgba(0, 0, 0, 0.75);
    transition: transform .5s, filter 0.5s ease-in-out;
    filter: grayscale(100%);
}

section.large-element .background-img:hover {
    filter: grayscale(0);
}

section.large-element .item {
    background: #fff;
    padding: 20px 15px 20px 25px;
}

section.large-element .item .titl a {
    font-weight: 500;
    font-size: 24px;
}
section.large-element .item .category{
    font-weight: 800;
    font-size: 20px;
    padding-left: 8px;
    border-left: 4px solid #26a69a;
    text-transform: capitalize;
    -webkit-animation: colorchange 20s infinite alternate;
    color: #26a69a;
} 
/* section.large-element .item .category a {
    font-weight: 800;
    font-size: 20px;
    padding-left: 8px;
    border-left: 4px solid #26a69a;
    text-transform: capitalize;
    -webkit-animation: colorchange 20s infinite alternate;
    color: #26a69a;
}  */
section.large-element .item .category a:hover{
    text-decoration: none;
}
section.large-element .item .title a:hover{
    text-decoration: none;
    color: #212529;
}
section.large-element .item .title a{
    text-decoration: none;
    color: #212529;
}

/****** End Large Element section ******/

/****** Start Multiple Element section ******/

section.multiple-elements {
    margin-top: 30px;
}

section.multiple-elements .item, section.large-element .item {
    -webkit-box-shadow: 6px 6px 15px -6px rgba(224, 224, 224, 1);
    -moz-box-shadow: 6px 6px 15px -6px rgba(224, 224, 224, 1);
    box-shadow: 6px 6px 15px -6px rgba(224, 224, 224, 1);
}

section.multiple-elements .item .img-container {
    height: 190px;
}

section.multiple-elements .item .img-container .background-img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: calc(0.9rem - 1px);
    border-top-right-radius: calc(0.9rem - 1px);
}

section.multiple-elements .item .item-content {
    background: #fff;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
    border-radius: 0px 0px 15px 15px;
}

/* section.multiple-elements .item .item-content .category {
    font-weight: 800;
    font-size: 20px;
    padding-left: 8px;
    border-left: 4px solid #26a69a;
    text-transform: capitalize;
    -webkit-animation: colorchange 20s infinite alternate;
} */
@-webkit-keyframes colorchange {
    0% {
      
      color: black;
    }
    
    10% {
      
      color: #26a69a;
    }
    20% {
      
        color: black;
      }
      30% {
      
        color: #26a69a;
      }
      40% {
      
        color: black;
      }
      50% {
      
        color: #26a69a;
      }
    
  }

/****** End Multiple Element section ******/

/****** Start Smart links section ******/

section.smart-links {
    margin-top: 40px;
}

section.smart-links .item .icon-back i.fa {
    font-size: 40px;
    color: #26a69a;
    position: relative;
    left: 45%;
    padding-bottom: 0.5rem;
    transition: transform 1.2s, filter 3.5s ease-in-out;
    transform-origin: center center;
}

section.smart-links .item .icon-back i.fa:hover {
    filter: brightness(50%);
    transform: scale(1.3);
}

section.smart-links .item .title a p {
    padding-top: 7px;
    font-weight: 600;
    font-size: 19.5px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
 }
section.smart-links .item .title a:hover {
    text-decoration: none;
}
section.smart-links .item .title a {
    padding-top: 7px;
    font-weight: 600;
    font-size: 19px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

section.smart-links .item .title {
    text-align: center;
}

section.smart-links .item .content {
    font-size: 14px;
    text-align: center;
}

/****** End Smart links section ******/

/****** Start Footer ******/

footer {
    background: #E0E0E0;
    margin-top: 50px;
    padding-top: 30px;
}

footer .col-lg-3.col-md-6 {
    padding: 20px 10px;
}

.address p.contact {
    font-size: 14px;
}

.address p {
    font-size: 20px;
    font-weight: 600;
}

footer .list-container .title, footer .opening-times .title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 14px;
}

footer .list-container ul.list-unstyled li {
    font-size: 18px;
    border-bottom: 1px dotted #333;
}

footer .list-container ul.list-unstyled li:last-child {
    border: 0;
}

footer .list-container ul.list-inline li i.fa {
    font-size: 22px;
    color: #fafafa;
    vertical-align: middle;
    padding-top: 8px;
}

footer .list-container ul.list-inline li {
    display: inline-block;
    background: #26a69a;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right: 5px;
}

footer .opening-times ul li {
    font-size: 18px;
}

footer .opening-times ul li .day {
    width: 110px;
    display: inline-block;
}

footer .opening-times ul li .closed {
    color: #26a69a;
    font-weight: 600;
}

footer .list-container .details span {
    color: #26a69a;
    font-weight: 600;
    padding: 0 1px;
}

footer .list-container .img-container {
    border: 5px solid #26a69a;
    border-radius: 5px;
}

footer .list-container .img-container img {
    border: 5px solid #fafafa;
    border-radius: 5px;
}

footer .copyright {
    border-top: 1px dotted #333;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 4px;
}

footer .copyright a {
    color: #26a69a;
}

/****** End Footer ******/

@media screen and (max-width: 39.9375em) {
    footer {
        background: #E0E0E0;
        margin-top: 50px;
        padding-top: 30px;
        text-align: center;
    }
    section.large-element .background-img {
        height: 12rem;
    }
    .pager img {
        max-width: 100% !important;
        margin: 0 auto;
        border: 4px solid #26a69a;
        display: block;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .navbar-brand img {
        height: 30px;
    }
    .start-header.scroll-on .navbar-brand img {
        height: 50px;
    }
}

.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 6.5px 10px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding-bottom: 0 !important;
    padding-top: 6.5px !important;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 5px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 50px;
    min-width:180px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-brand img {
    height: 70px;
    width: auto;
    min-width : 220px;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after, .navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #26a69a;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.links-header-container ul.nav li.nav-item a {
    color: #26a69a !important;
}

.links-header-container {
    padding-left: 1rem;
}

/* #Primary style
================================================== */

.bg-light {
    transition: all 200ms linear;
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    height: 100vh;
}

.over-hide {
    overflow: hidden;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 40px;
    transform: translateY(-50%);
    z-index: 20;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: #212112;
    text-align: center;
}

p {
    margin: 0;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

body.hero-anime p {
    opacity: 0;
    transform: translateY(40px);
    transition-delay: 1700ms;
}

h1 span {
    display: inline-block;
    transition: all 300ms linear;
    opacity: 1;
    transform: translate(0);
}

body.hero-anime h1 span:nth-child(1) {
    opacity: 0;
    transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(2) {
    opacity: 0;
    transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(4) {
    opacity: 0;
    transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(5) {
    opacity: 0;
    transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6) {
    opacity: 0;
    transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(7) {
    opacity: 0;
    transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(8) {
    opacity: 0;
    transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(9) {
    opacity: 0;
    transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(10) {
    opacity: 0;
    transform: translateY(-20px);
}

h1 span:nth-child(1) {
    transition-delay: 1000ms;
}

h1 span:nth-child(2) {
    transition-delay: 700ms;
}

h1 span:nth-child(3) {
    transition-delay: 900ms;
}

h1 span:nth-child(4) {
    transition-delay: 800ms;
}

h1 span:nth-child(5) {
    transition-delay: 1000ms;
}

h1 span:nth-child(6) {
    transition-delay: 700ms;
}

h1 span:nth-child(7) {
    transition-delay: 900ms;
}

h1 span:nth-child(8) {
    transition-delay: 800ms;
}

h1 span:nth-child(9) {
    transition-delay: 600ms;
}

h1 span:nth-child(10) {
    transition-delay: 700ms;
}

body.hero-anime h1 span:nth-child(11) {
    opacity: 0;
    transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(12) {
    opacity: 0;
    transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(13) {
    opacity: 0;
    transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(14) {
    opacity: 0;
    transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(15) {
    opacity: 0;
    transform: translateY(50px);
}

h1 span:nth-child(11) {
    transition-delay: 1300ms;
}

h1 span:nth-child(12) {
    transition-delay: 1500ms;
}

h1 span:nth-child(13) {
    transition-delay: 1400ms;
}

h1 span:nth-child(14) {
    transition-delay: 1200ms;
}

h1 span:nth-child(15) {
    transition-delay: 1450ms;
}

#switch, #circle {
    cursor: pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#switch {
    width: 60px;
    height: 8px;
    border: 2px solid #8167a9;
    border-radius: 27px;
    background: #000;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}

body.hero-anime #switch {
    opacity: 0;
    transform: translateY(40px);
    transition-delay: 1900ms;
}

#circle {
    position: absolute;
    top: -11px;
    left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #000;
}

.switched {
    border-color: #000 !important;
    background: #8167a9 !important;
}

.switched #circle {
    left: 43px;
    box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
    background: #fff;
}

.dropdown-menu {
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
    font-size: 16px;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: rgba(38, 166, 154, 0.55);
}

body.dark {
    color: #fff;
    background-color: #1f2029;
}

body.dark h1 {
    color: #fff;
}

body.dark h1 span {
    transition-delay: 0ms !important;
}

body.dark p {
    color: #fff;
    transition-delay: 0ms !important;
}

body.dark .bg-light {
    background-color: #14151a !important;
}

body.dark .start-header {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

body.dark .start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

body.dark .nav-link {
    color: #fff !important;
}

body.dark .nav-item.active .nav-link {
    color: #999 !important;
}

body.dark .dropdown-menu {
    color: #fff;
    background-color: #1f2029;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

body.dark .dropdown-item {
    color: #fff;
}

body.dark .navbar-light .navbar-toggler-icon {
    border-bottom: 1px solid #fff;
}

body.dark .navbar-light .navbar-toggler-icon:after, body.dark .navbar-light .navbar-toggler-icon:before {
    background-color: #fff;
}

body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

/* #Media
================================================== */

@media (max-width: 767px) {
    h1 {
        font-size: 38px;
    }
    .navigation-wrap {
        position: relative;
    }
    .nav-item:after {
        display: none;
    }
    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }
    .links-header-container ul.nav li.nav-item::before {
        position: absolute;
        display: block;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #0000;
    }
    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }
    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    body.dark .nav-item::before {
        background-color: #fff;
    }
    body.dark .dropdown-toggle::after {
        background-color: #fff;
    }
    body.dark .dropdown-menu {
        background-color: transparent;
        box-shadow: none;
    }
}

/* #Link to page
================================================== */

.link-to-portfolio {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 200;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    background-position: center center;
    background-size: cover;
    background-image: url('https://ivang-design.com/ig-logo.jpg');
    box-shadow: 0 0 0 2px rgba(12, 12, 12, .1);
    transition: opacity .2s, border-radius .2s, box-shadow .2s;
    transition-timing-function: ease-out;
}

.link-to-portfolio:hover {
    opacity: 0.8;
    border-radius: 50%;
    box-shadow: 0 0 0 20px rgba(12, 12, 12, .1);
}

.carousel-item {
    z-index: -1;
}

.embed-responsive-16by9::before {
    padding-top: 54.25%;
}

iframe {
    border-top-left-radius: calc(0.9rem - 1px);
    border-top-right-radius: calc(0.9rem - 1px);
}

.pager p, .pager li {
    text-align: justify!important;
    line-height: 2!important;
    font-size: 19px!important;
    display: block;
}

.pager img {
    max-width: 530px;
    margin: 0 auto;
    display: block;
    float: left; 
    margin: 0px 30px 10px 0px;
    width: 300px
}


@media screen and (min-width: 1024px) and (max-width: 1366px) {
    section.offers-carousel {
        padding-top: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    section.offers-carousel {
        padding-top: 7%;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) and (orientation: landscape) {
    section.offers-carousel {
        margin-top: 10%;
        margin-bottom: 10px;
    }
}

.embed-responsive {
    height: 12rem;
}

/*------------ Strategie -------------*/

.img-str {
    max-width: inherit !important;
}

/*------------Cantact Us-------------------*/

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #28a69be8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(39, 166, 154, 0.59);
}

.form-control:not(textarea) {
    height: 60px;
}

.form-control {
    border: 0;
    border-radius: 0;
    padding: 6px 20px;
    background-color: transparent;
    position: relative;
    z-index: 2;
    font-size: 0.9rem;
}

.form-row .form-control+label {
    left: 25px;
    right: 25px;
}

.form-row .line {
    left: 20px;
    right: 25px;
}

.form-control+label {
    position: absolute;
    z-index: 1;
    top: 25px;
    margin: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    left: 10px;
    right: 10px;
}

.line {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #28a69be8;
    background-image: -o-linear-gradient(left, #28a69be8 0%);
    background: linear-gradient(to right, #28a69be8 0%);
}

.line:after {
    content: "";
    height: 2px;
    position: absolute;
    display: block;
    background: #28a69be8;
    left: 0;
    right: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
}

.has-value+label {
    font-size: 0.75rem;
    top: 0;
}

i.icon-form {
    margin-right: 12px;
}

.promo {
    margin-top: 20px;
}

.form-group.md-form.col-md-12.textarea {
    padding-top: 12px;
}

.btn-success:hover {
    color: #fff;
    background-color: #27a69ac7 !important;
    border: none;
}

input.btn.btn-success.btn-send {
    background: #32aa9f;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 100%;
    display: inline-block;
    padding: 6px 10px;
    font-weight: 600;
    letter-spacing: .5px;
}

.promo-buttom {
    margin-left: 13px;
}

.promo-map {
    margin-top: 6rem;
}

iframe {
    width: 100%;
}

th, td {
    text-align: center;
}

.table-bordered td, .table-bordered th {
    border: 0px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6 !important;
    vertical-align: inherit;
}

.table-responsive-md {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.horraire {
    padding: 20px;
}

i.fa.fa-check {
    color: #208b81;
}

.font {
    font-size: 19px;
}

.feature-item {
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

i.fa.fa-download {
    font-size: 5rem;
    color: #27a69aa1;
    padding: 7%;
}

.btn-green {
    color: #26A69A;
    font-size: 17px;
}

.btn-green:hover {
    color: #26A69A;
    text-decoration: underline;
}
.btn-green:focus{
    box-shadow: none;
}

.block-banner.banner-w-image {
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.block-banner.banner-w-image .breadcrumb {
    background-color: rgba(39, 166, 154, 0.68);
    padding: 0.75rem 0rem;
}

.block-banner.banner-w-image .breadcrumb li {
    color: #fff;
}

.block-banner.banner-w-image .breadcrumb a {
    color: #fff;
}

.breadcrumb li {
    color: rgba(156, 156, 156, .62);
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
    display: inline;
}

.breadcrumb li a {
    color: rgba(156, 156, 156, .62);
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: none;
}

.block-banner.banner-w-image .breadcrumb ul {
    padding: 0;
    margin: 0;
}

.breadcrumb li:not(:first-child)::before {
    color: rgba(156, 156, 156, .62);
    margin: 0;
    padding: 0 .5rem;
    content: '>';
    border: none;
    position: relative;
    font-weight: 700;
}

.block-banner.banner-w-image .breadcrumb li::before {
    color: #fff;
}

.block-banner.banner-w-image .page_title {
    margin: 0;
    padding: 2rem 0;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px black;
}

.breadcrumb {
    margin-bottom: 0rem;
}

.blog-element {
    padding: 3rem 0;
}

ul.dropdown-menu.rounded-0 {
    display: none;
}

ul.dropdown-menu.rounded-0 {
    top: -0.4rem;
    margin-left: 8.7rem;
    transition: all 200ms linear;
}

li.dropdown-item a {
    color: #212121;
    text-decoration: none;
}

ul.dropdown-menu.rounded-0.first {
    top: 0.8rem;
    transition: all 200ms linear;
}

ul.dropdown-menu.rounded-0.sec {
    top: 2.5rem;
    margin-left: 8.7rem;
    transition: all 200ms linear;
}

ul.dropdown-menu.rounded-0.Thr {
    top: 4rem;
    margin-left: 8.7rem;
    transition: all 200ms linear;
}

.fa-arrow-circle-o-down:before {
    content: "\f01a";
    color: #29a69b;
    font-size: 2rem;
}

.table thead th {
    vertical-align: inherit;
    border-bottom: 2px solid #dee2e6;
    font-size: 1.2rem;
}

a.recrt-link:hover {
    color: #28a69b;
    text-decoration: none;
}

a.recrt-link {
    color: #11111b;
    font-weight: bold;
    transition: all 200ms linear;
}

@media screen and (max-device-width: 990px) {
    .recrt-table th, .recrt-table td {
        padding: .1rem;
    }
}

/*  Start Menu style  */

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition!important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
}

li.dropdown-item a:hover {
    color: white;
    text-decoration: none;
}
/******************************Drop-down menu work on hover**********************************/

.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
    margin-top: 0;
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover>ul {
        display: block
    }
    /*******/
    .mainmenu .collapse ul ul li {
        position: relative
    }
    .mainmenu .collapse ul ul li:hover>ul {
        display: block
    }
    .mainmenu .collapse ul ul ul {
        top: 0;
        left: 100%;
        display: none;
        transition: all 200ms linear;
    }
    /*******/
    .mainmenu .collapse ul ul ul li {
        position: relative
    }
    .mainmenu .collapse ul ul ul li:hover ul {
        display: block
    }
    .mainmenu .collapse ul ul ul ul {
        top: -10px;
        left: -77%;
        display: none;
        z-index: 1;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a {
        padding: 16px 15px 16px 25px;
    }
    .navbar-nav .show .dropdown-menu .dropdown-menu>li>a {
        padding: 16px 15px 16px 25px;
    }
.ml-md-4, .mx-md-4 {
    margin-left: 1rem!important;
}
.navbar-brand img {
    height: 60px;
    width: auto;
    display: block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
section.large-element .background-img {
    height: 13rem;
}
section.multiple-elements .item .item-content {
    margin-bottom: 1rem;
}
footer {
  
    text-align: center;
}
a.dropdown-toggle.w-100.dropdown-item:first-child:before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0px;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
}
a.dropdown-toggle.w-100.dropdown-item:first-child:after {
    position: absolute;
    display: block;
    top: 10px;
    left: 1px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
}


}

/* Custom */



.navigation-wrap > .container > .row {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
}

/*  End Menu style  */
.carousel-indicators li {
    width: auto;
    text-indent: 0;
}
.carousel-indicators {
    bottom: -31px;
}

div#carousel-thumb {
    margin-bottom: 4rem;
}
.col-lg-6.col-md-12.col-sm-12.pager img {
    max-width: 530px;
    margin: 0 auto;
    border: 0 solid;
    display: block;
    padding-top: 2rem;
}
.download-wrap {
    height: 4rem;
    margin: 0 auto;
}
.button, [class*='button-'] {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #232323;
    text-decoration: none;
    text-align: center;
    transition: 0.5s linear all;
    border: 2px solid #26a69a;
    border-radius: 10px;
    font-weight: 900;
    font-size: 1rem;
    width: max-content;
    margin-right: 0.5rem;
}
a.button-download:hover {
    text-decoration: none;
    color: white;
    background: #26a69a;
    font-weight: 900;
}
@media screen and (max-width: 63.9375em) {
    .links-header-container {
        order: -1;
        margin-bottom: 1rem;
    }
    footer .col-lg-3.col-md-6 {
        padding: 20px 10px;
        text-align: center;
    }
    section.large-element .background-img {
        height: 13rem;
    }
    .nav-item:after {
      
        background-color: #26a69a00;
       
    }
    section.events-carousel .carousel-caption {
        top: auto;
        bottom: 0; 
        left: 10%;
        text-align: left;
    }
}
.section-text h4{
    font-weight: 600;
    margin: 5px 0 10px;
}
.section-text p, .section-text li {
    text-align: justify!important;
    line-height: 2!important;
    font-size: 19px!important;
}
.expire{
    color:red;
}
/**********Start Card Recrute ***********/
.card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
}
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(341px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}
.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 109px;
    left: 0.25rem;
    width: 100px;
    height: 100px;
}
.card-text>.fa-calendar:before {
    content: "\f073";
    color: #0f796f;
}
.card-body{
    overflow-y: auto;
}
.card.card-custom.bg-white.border-white.border-0 {
    -webkit-box-shadow: 6px 6px 15px -6px rgba(224, 224, 224, 1);
}
.recrut.card-body>a{
    color: #0f796f;
    font-size: 17px;
}
.card-text>.fa-cloud-download:before {
    color: #0f796f;
}
/**********End Card Recrute ***********/

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
    transition: all .1s linear;
}
.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #eceff1;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all .3s linear;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
img.attachment-full.size-full.wp-post-image {
    width: 100%;
    object-fit: cover;
    max-height: 446px;
    max-width: 1140px;
}
.evenements.mb-5 .event {
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
    line-height: 24px;
}
.evenements .event i.fa {
    margin-right: 5px;
}
.event-date {
    background: #26a69a;
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    min-width: 170px;
    border: 1px solid #26a69a;
    text-align: center;
    margin-right: 5px;
}
.evenements .event .event-hour {
    background: #26a69a;
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    border: 1px solid #26a69a;
    margin-right: 5px;
    min-width: 90px;
}
.event-place {
    margin-top: 4px;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #ccc;
    min-width: 250px;
}
.evenements .event i.fa.fa-map-marker {
    color: #26a69a;
    margin-right: 3px;
    font-size: 17px;
}
.content h3 {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
    color: #262626;
}
.content h1:after, .content h2:after, .content h3:after, .content h4:after, .content h5:after, .content h6:after {
    content: '';
    width: 70px;
    height: 5px;
    display: block;
    margin: 10px 0 0 0;
    background-color: #26a69a;
}
#share-buttons {
    text-align: right;
}
#share-buttons a {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px;
    border: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    display: inline-block;
    background: #eee;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-decoration: none;
    background: #26a69a;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.4s, 0s;
    -moz-transition-duration: 0.4s, 0s;
    -o-transition-duration: 0.4s, 0s;
    transition-duration: 0.4s, 0s;
    -webkit-transition-delay: 0s, 0.4s;
    -moz-transition-delay: 0s, 0.4s;
    -o-transition-delay: 0s, 0.4s;
    transition-delay: 0s, 0.4s;
}
#share-buttons .fa {
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-google-plus:before {
    content: "\f0d5";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-print:before {
    content: "\f02f";
}

.content .col-md-4 .download-wrap .download a {
    padding: 0.5rem 1rem;
}
.content .col-md-4 .download-wrap .download {
    float: right;
}
.quote-card {
    color: #585656d4;
    padding: 20px;
    padding-left: 0px;
    box-sizing: border-box;
    box-shadow: 0 2px 11px rgba(40, 41, 41, 0.32);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.quote-card p {
    line-height: 1.5;
    max-width: 80%;
    text-align: center;
    display: inline-table;
    padding: 0 11px;
}
  .quote-card cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
  }
  .quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 5em;
    color: rgb(38, 166, 154);
    font-weight: normal;
}
.quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -126px;
    line-height: 100px;
    right: -31px;
    font-size: 25em;
    color: rgba(38, 166, 154, 0.4);
    font-weight: normal;
}
  @media (max-width: 640px) {
    .quote-card:after {
      font-size: 22em;
      right: -25px;
    }
  }
  .card.card-cascade .view.view-cascade {
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}
.card.card-cascade.wider .view.view-cascade {
    z-index: 2;
}
.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}
.rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255,255,255,.1);
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.overlay .mask:hover {
    opacity: 1;
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade {
    z-index: 3;
    margin-top: -1rem;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    margin-right: 4%;
    margin-left: 4%;
    background: #fff;
}
.overlay .mask {
    opacity: 0;
    transition: all .4s ease-in-out;
}
.toolbox p {
   font-size: 14px;
   text-align: center;
}
/*******Publication Card **********/
.card-flip {
    -webkit-perspective: 1000px;
            perspective: 1000px;
            border-radius: 22px 22px 22px 22px;
  }
  .card-flip:hover .flip, .card-flip.hover .flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            border-radius: 22px 22px 22px 22px;
  }
  
  .card-flip,
  .front,
  .back {
    width: 100%;
    height: 480px;
  }
  
  .flip {
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
  }
  
  .front,
  .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 22px 22px 22px 22px;
  }
  
  .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  
  .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .pub-card{
    background-color: #fff0;
} 
.pub-card img{
    background : linear-gradient(to left, rgba(45, 120, 112, 0),rgba(245, 246, 252, 0.03), rgb(34, 37, 37));
}
.rad{
    border-radius: 22px 22px 22px 22px;
}
.card-footer{
    background: inherit;
     border-color: inherit;
}
.green-icon{
    color: #32aa9f;
    font-size: 21px;
}
.mt-6 {
    margin-top: 4.2rem !important;
}
/***End Pub Cards ***/
section.multiple-elements .item .item-content .category p {
    font-weight: 800;
    font-size: 20px;
    text-transform: capitalize;
    -webkit-animation: colorchange 20s infinite alternate;
}  
.card.card-cascade.wider.reverse {
    border: none;
    background-color: #ffffff00;
}
.fa-phone:before {
    content: "\f095";
    color: #26a69a;
}
.fa-envelope:before {
    content: "\f0e0";
    color: #26a69a;
}
.post_thumbnail.mb-3 {
    position: relative;
}
.member .member_function {
    margin: 10px 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    line-height: 1em;
    color: #000;
    text-align: center;
}
.carousel-cooperation{
   margin-top: 2rem;
}
.social-counters .btn.btn-fb {
    display: block;
}
.text-lg-left {
    text-align: left!important;
}
.card-body.contact.text-center.h-100.white-text {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.latest .post-title h3, .latest .post-title h3 a, .events .post-title h3, .events .post-title h3 a {
    text-transform: uppercase;
}
.latest .post-title h3, .latest .post-title h3 a, .events .post-title h3, .events .post-title h3 a {
    font-size: 22px;
    line-height: 1.4em;
    font-weight: 500;
    color: #262626;
    text-align: left;
    text-decoration: none;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.latest .post-title, .events .post-title {
    margin: 0;
    padding: 0;
}
.latest .post-title h3:after, .events .post-title h3:after {
    content: '';
    width: 40px;
    height: 2px;
    display: block;
    margin: 10px 0 0 0;
    background-color: #26a69a;
}
.latest .post-excerpt, .events .post-excerpt, .latest .post-excerpt p, .events .post-excerpt p {
    font-size: 16px;
    font-weight: 400;
    color: #262626;
    line-height: 1.8em;
    text-align: justify;
}
.latest .post-excerpt, .events .post-excerpt {
    margin: 20px 0;
}
.latest .post-info, .events .post-info {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #262626;
    line-height: 1.6em;
    text-align: right;
    padding: 0;
    margin: 10px 0;
}
.latest .post-date, .latest .post-author, .events .post-date, .events .post-author {
    font-size: 13px;
    font-weight: 600;
    color: #26a69a;
    line-height: 1.6em;
    text-align: left;
    display: block;
}
img.attachment-home-post.size-home-post.wp-post-image {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.post_thumbnail .attachment-home-post {
    object-fit: cover;
}
.archive .post_thumbnail img, .latest .post_thumbnail img {
    max-height: 100%;
    max-width: 100%;
}
.latest .post-title h3:hover, .events .post-title h3:hover {
    opacity: 0.5;
}
.section-title h2 {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    line-height: 1em;
    font-weight: normal;
    color: #262626;
    text-align: left;
    margin: 0;
    padding: 0;
}
.section-title h2:after {
    content: '';
    width: 50px;
    height: 2px;
    padding: 0;
    margin: 10px 0 0 0;
    background-color: #26a69a;
    display: block;
}
.latest {
    padding: 40px 0;
}
.post_thumbnail {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
/***********pub detail **********/
.p-6 {
    padding: 3.5rem!important;
}

.card-header{
    background-color: #ffffff;
}
.front.rad{
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

/********End Pub Detail ******/
/******Cantact Us K12 ****/
.ktc-default-section.row {
    padding-left: 25px;
}

.ktc-default-section .form-group {
    padding-left: 10px;
}

.ktc-default-section .form-control:not(textarea) {
    height: 40px;
}

.ktc-default-section textarea {
    min-height: 100px;
}
/*******End Contact Us K12***/
.fa-group:before, .fa-users:before {
    content: "\f0c0";
    color: #0f796f;
 }
 section.multiple-elements .item .item-content .category p{
 font-weight: 800;
 font-size: 20px;
 padding-left: 8px;
 display: inherit;
 text-transform: capitalize;
 -webkit-animation: colorchange 20s infinite alternate;
 }
section.multiple-elements .item .item-content .category a{
    border-left: 4px solid #26a69a;
    color: #26a69a;
} 
section.multiple-elements .item .item-content .category a:hover{
    text-decoration: none;
}
section.multiple-elements .item .item-content .title a:hover{
    text-decoration: none;
    color: #212529;
}
section.multiple-elements .item .item-content .title a{
    text-decoration: none;
    color: #212529;
}
.pager img.img-fluid.rounded {
    max-width: 530px;
    display: block;
    float: none;
    margin: auto;
    width: 100%;
}
.chip a {
    color: rgba(0,0,0,.6);
    text-decoration: none;
}
/* section.multiple-elements .item .item-content .category p {
    font-weight: 800;
    font-size: 20px;
    padding-left: 8px;
    border-left: 4px solid #26a69a;
    text-transform: capitalize;
    -webkit-animation: colorchange 20s infinite alternate;
    color: #26a69a;
} */
footer .list-container ul.list-unstyled li a {
    font-size: 18px;
    color: #333;
}
footer .list-container ul.list-unstyled li a >P{
    font-size: 18px;
    color: #333;
}
footer .list-container ul.list-unstyled li a:hover {
    text-decoration: none;
}
/******cantact us *******/
.ktc-default-section.row {
    padding-left: 25px;
}

.ktc-default-section .form-group {
    padding-left: 10px;
}

.ktc-default-section .form-control:not(textarea) {
    height: 40px;
}

.ktc-default-section textarea {
    min-height: 100px;
}
.line {
    position: initial;}
input.btn.btn-success.btn-send{
        width: 69%;
}



a {
	background: transparent;
}
a:active, a:hover {
	outline: 0;
}
@media print {
	* {
		text-shadow: none!important;
		color: #000!important;
		background: transparent!important;
		box-shadow: none!important;
	}
	a, a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	a[href^="#"]:after {
		content: "";
	}
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	color: #428bca;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2a6496;
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
ul {
	margin-top: 0;
	margin-bottom: 10px;
}
ul ul {
	margin-bottom: 0;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container:before, .container:after {
	content: " ";
	display: table;
}
.container:after {
	clear: both;
}

a, a:hover {
	text-decoration: none;
}

@media screen {
	a {
		color: #4174c5;
		transition: color 0.3s;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
	}
	a:hover {
		color: #274472;
		text-decoration: none;
	}
	#header .container {
		padding: 0;
		width: auto;
		height: 50px;
	}
	#lower-header {
		color: #3e474c;
		position: relative;
		z-index: 5000;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        width: 100%
	}
	#lower-header:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}
	.sticky-header-on.boxed-layout #lower-header {
		padding-left: 15px;
		padding-right: 15px;
		margin-left: -30px;
		margin-right: -15px;
		position: relative;
		z-index: 5000;
	}
	.boxed-layout #lower-header {
		padding-left: 30px;
		padding-right: 30px;
		margin-left: -30px;
		margin-right: -30px;
		position: relative;
		z-index: 5000;
	}
	#menu-button {
		display: none;
	}
	#navigation {
		list-style: none;
		margin: 0;
		padding: 0;
		display: table;
		float: right;
	}
	#navigation ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#navigation>li {
		position: relative;
		-webkit-perspective: 500px;
		perspective: 500px;
	}
	#navigation ul {
		-webkit-perspective: 500px;
		perspective: 500px;
	}
	#navigation>li {
		display: table-cell;
		text-align: center;
		position: relative;
	}
	#navigation li>a {
        display: block;
        color: #3e474c;
        padding: 13px 10px 12px;
        cursor: pointer;
        transition: color 0.1s, background 0.3s;
        -webkit-transition: color 0.1s, background 0.3s;
        -moz-transition: color 0.1s, background 0.3s;
        font-size: 1.3rem;
    }
	#navigation li:hover>a:after {
		color: #fff;
	}
	#navigation>li>a:after {
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-left: .2em;
		color: #31aa9f;
		font-size: 13px;
		margin-left: 5px;
		content: '\e88e';
    }
    #navigation>li>a:visited::after {
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-left: .2em;
		color: #31aa9f;
		font-size: 13px;
		margin-left: 5px;
		content: '\e88e';
	}
	#navigation>li>a:only-child:after {
		content: '';
		display: none;
	}
	#navigation li ul li {
		position: relative;
	}
	#navigation li ul {
		display: none;
		text-align: left;
		position: absolute;
		font-size: 15px;
		background: #ffffff;;
		z-index: 6000;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
		top: 100%;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	#navigation li ul li>a:after {
		font-family: "fontello";
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		width: 1em;
		margin-right: .2em;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		line-height: 1em;
		margin-left: .2em;
		color: #31aa9f;
		font-size: 13px;
		margin-left: 5px;
		content: '\e891';
		position: absolute;
		right: 15px;
		top: 15px;
	}
	#navigation li ul li>a:only-child:after {
		content: '';
		display: none;
	}
	#navigation li ul li ul {
		left: 100%;
		top: 0;
		margin-left: 0px;
		margin-top: 10px;
		z-index: 7000;
	}
    #navigation #menu_Toggle ul li ul {
        left: -100%!important;
        margin-left: -20px;
        margin-top: 0px;
    }
	#navigation ul li:last-child, #navigation ul li:last-child>a {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-bottom: none;
	}
	#navigation ul li:last-child {
		border-bottom: none;
	}
	#navigation li ul li>a {
		display: block;
		color: #3e474c;
		font-size: 15px;
		padding: 10px 25px;
		border-bottom: 1px solid #dee0e5;
	}
	#navigation li:hover>ul {
		display: block;
		width: 200px;
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
		transform: rotate3d(0, 0, 0, 0);
		-webkit-transform: rotate3d(0, 0, 0, 0);
		-moz-transform: rotate3d(0, 0, 0, 0);
		-ms-transform: rotate3d(0, 0, 0, 0);
		-o-transform: rotate3d(0, 0, 0, 0);
	}
	#navigation li:hover>ul>li {
		display: block;
	}
	::-webkit-input-placeholder {
		color: #95999e;
	}
	:-moz-placeholder {
		color: #95999e;
	}
	::-moz-placeholder {
		color: #95999e;
	}
	:-ms-input-placeholder {
		color: #95999e;
	}
	::selection {
		background: #4174c5;
		color: #fff;
	}
	::-moz-selection {
		background: #4174c5;
		color: #fff;
	}
	@media (max-width:991px) {
		#menu-button {
			display: block;
			width: auto;
			position: relative;
			z-index: 6000;
			cursor: pointer;
			transition: background 0.3s;
			-webkit-transition: background 0.3s;
			-moz-transition: background 0.3s;
		}
		#menu-button:hover {
            background: #26a69a;
            border-bottom-color: transparent;
        }
		#menu-button:hover>div>span {
			background: #fff;
		}
		#menu-button>div {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
            margin-right: 10px;
        }
		#menu-button>span {
			font-size: 16px;
			transition: color 0.3s;
			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
		}
		#menu-button:hover>span {
			color: #fff;
		}
		#menu-button>div>span {
			display: block;
			width: 17px;
			height: 3px;
			background: #444;
			margin: 3px auto;
			transition: background 0.3s;
			-webkit-transition: background 0.3s;
			-moz-transition: background 0.3s;
		}
		#navigation {
			display: none;
			width: 100%!important;
			text-align: left;
		}
		#navigation ul, #navigation li ul, #navigation ul li:last-child, #navigation ul li:last-child>a {
			border-radius: 0!important;
		}
		#navigation li {
			display: block!important;
			width: 100%!important;
			text-align: left;
		}
		#navigation li {
			border-color: #dee0e5!important;
		}
		#navigation li:hover, #navigation li:hover>a {
			border-bottom-color: transparent!important;
			border-top-color: transparent!important;
		}
		#navigation lI>a:after {
			right: 15px;
			position: absolute;
			top: 15px;
			content: '\e891';
		}
		#navigation li ul {
			box-shadow: none;
		}
		#navigation li ul, #navigation li ul li ul, .csstransforms #navigation li ul, .csstransforms #navigation li ul li ul {
			display: none;
			width: 100%!important;
			-moz-opacity: 1!important;
			-khtml-opacity: 1!important;
			opacity: 1!important;
			transform: scale(1)!important;
			-webkit-transform: scale(1)!important;
			-moz-transform: scale(1)!important;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
		}
		#navigation>li>a {
			font-size: 15px;
			padding: 10px 20px!important;
		}
		#navigation ul li>a {
            padding-left: 10px!important;
        }
		#navigation ul ul li>a {
			padding-left: 40px!important;
		}
		#navigation li>.dropdown-button {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50px;
			background: transparent;
			cursor: pointer;
		}
	}
}
#navigation li:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #26a69a;
    opacity: 0;
    transition: all 200ms linear;
}
#navigation li:hover:after {
    bottom: 0;
    opacity: 1;
}
ul.dropdown-menu.posright-0 li:hover:after {
    bottom: 0;
    opacity: 1;
}
.dropdown-menu li:hover, .dropdown-menu li:focus {
    color: #fff;
    background-color: rgba(38, 166, 154, 0.55);
}
.dropdown-menu li a:hover {
    color: #fff !important;
}
ul.dropdown-menu.posright-0 li:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #26a69a;
    opacity: 0;
    transition: all 200ms linear;
}
@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot');
	src: url('../fonts/fontello.eot') format('embedded-opentype'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.ttf') format('truetype'), url('../fonts/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.formwidget-submit-text {
    background: #d5edd4;
    color: #57a12c;
    -webkit-border-radius: 3px;
    position: relative;
    padding-left: 40px;
    padding: 15px 20px;
    border-color: #bdd797;
}
/****End Contact Us ****/
/***Start Revue de press***/
.background-img {
    position: relative;
}

span.card-year {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(50, 170, 159, .7);
    padding: 0px 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px 0 0 0;
}
.press-elements h3.title{
    font-size: 22px;
}
.press-elements h5{
    font-size: 15px;
}
input.btn-filter{
    width: 30.6% !important;
    margin-left: 0 !important;
    border-radius: 0 5px 5px 0;
    padding-top: 6px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    background: #32aa9f;
    border: none;
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    letter-spacing: .5px;

}
.press-elements span.select2.select2-container{
    width: 70%;
    margin-right: -1%;
    max-height: 37px;
}
.press-elements span.select2-selection.select2-selection--multiple{
    padding: 0 5px;
    max-height: 37px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: rgba(38, 166, 154, 0.55);
    border: none;
}
.press-elements .select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #fff6f6;
    background-color: #32aa9f;
    border: 0;
}
.press-elements .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #aaa 1px;}
    @media (max-width: 1000px) {
        input.btn.btn-success.btn-filter {
            width: 100% !important;
            border-radius: 5px;
            margin-top: 5px;
        }
    
        .press-elements .select-container {
            width: 100%;
        }
        .press-elements span.select2.select2-container {
            width: 100% !important ;
            margin-left: 0;
            max-height: 37px;
        }
    } 
    @media (min-width: 1000px) and  (max-width: 1208px){
        .press-elements span.select2.select2-container {
            width: 70%;
            margin-left: -2%;}
            input.btn-filter {
                margin-right: 8px;}
        }
/****End Revue de press***/

