﻿@model ArchivesDuMaroc.Models.TendersViewModel
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Appels D'Offres";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.TendersHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.TendersHeroTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Slider)
            {
            <article class="col-md-12 col-sm-12">
                <h3 class="mt-5 mb-4">@item.TendersItemTitle</h3>
                <div class="content ">
                    @Html.Raw(item.TendersItemText)
                    <h3 class="mb-4 mt-4">@Html.GetUiString("Activities.Downloads"):</h3>
                    @foreach(var file in item.Slider)
                    {
                        <a href="@Url.Kentico().FileUrl(file.TendersFile, new FileUrlOptions() { AttachmentContentDisposition = true })" class="button-download mb-3">
                            <i class="fa fa-cloud-download"></i>
                            @file.DocumentName
                        </a>
                    }
                </div>
            </article>
            }
        </div>
    </div>
</section>
