﻿@model ArchivesDuMaroc.Models.PageOpeningHoursViewModel

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Horaires d'Ouvertures";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner   banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.PageOpeningHoursHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.PageOpeningHoursTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 font">
                <div class="table-responsive-md">
                    <table class="col-lg-10 col-sm-10 col-md-10 table table-bordered table-hover mt-4 rounded-lg">
                        <thead>
                            <tr>
                                <th scope="col">Service</th>
                                <th scope="col">Horaires</th>
                                <th scope="col">Fermeture</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Slider)
                            {
                                <tr>
                                    <td>@item.OpeningHoursItemsServiceTitle</td>
                                    <td>@Html.Raw(item.OpeningHoursItemsServiceHours)</td>
                                    <td>@Html.Raw(item.OpeningHoursItemsServicClosing)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="coop-detail mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid font">
                    <div class="row">
                        <div class="horraire">
                            @Html.Raw(Model.PageOpeningHoursText)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>