﻿@model ArchivesDuMaroc.Models.NoticeViewModel
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - " + Model.NoticeTitle;
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.NoticeHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.NoticeTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-element">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="row">
                    @foreach (var item in Model.Slider)
                    {
                        <div class="col-md-6 mt-4">
                            <!-- Copy the content below until next comment -->
                            <div class="card card-custom bg-white border-white border-0">
                                <div class="card-custom-img" style="background: url(@Url.Content("~/Content/images/back-Home-Ap.png"));"></div>
                                <div class="card-custom-avatar">
                                    <img class="img-fluid" src="@Url.Content("~/Content/images/logo-Card.png")" alt="Avatar" />
                                </div>
                                <div class="card-body recrut" style="overflow-y: auto">
                                    <h4 class="card-title">@item.NoticeTitle</h4>
                                    @if (item.NoticeNumberPlaces != null)
                                    {
                                        <p class="card-text"><i class="fa fa-users mr-2"></i>@Html.GetUiString("Notice.NumberPlaces") : @item.NoticeNumberPlaces</p>
                                    }
                                    @if (item.NoticeDatePublish.Year != 1)
                                    {
                                        <p class="card-text"><i class="fa fa-calendar mr-2"></i>@Html.GetUiString("Notice.PublishDate") : @item.NoticeDatePublish.ToShortDateString()</p>
                                    }
                                    @if (item.NoticeDateContest.Year != 1)
                                    {
                                        <p class="card-text"><i class="fa fa-calendar mr-2"></i>@Html.GetUiString("Notice.ContestDate") : @item.NoticeDateContest.ToShortDateString()</p>
                                    }
                                    @if (item.NoticeDateDeadline.Year != 1)
                                    {
                                        <p class="card-text"><i class="fa fa-calendar mr-2"></i>@Html.GetUiString("Notice.DeadlineDate") : @item.NoticeDateDeadline.ToShortDateString()</p>
                                    }

                                    @if (!string.IsNullOrEmpty(item.NoticeSummonedWrittenExam))
                                    {
                                        <a href="@Url.Kentico().FileUrl(item.NoticeSummonedWrittenExam, new FileUrlOptions() { AttachmentContentDisposition = true })"><p class="card-text"><i class="fa fa-cloud-download mr-2"></i>@Html.GetUiString("Notice.Written")</p></a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.NoticeSummonedOralExam))
                                    {
                                        <a href="@Url.Kentico().FileUrl(item.NoticeSummonedOralExam, new FileUrlOptions() { AttachmentContentDisposition = true })"><p class="card-text"><i class="fa fa-cloud-download mr-2"></i>@Html.GetUiString("Notice.Oral")</p></a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.NoticeResult))
                                    {
                                        <a href="@Url.Kentico().FileUrl(item.NoticeResult, new FileUrlOptions() { AttachmentContentDisposition = true })"><p class="card-text"><i class="fa fa-cloud-download mr-2"></i>@Html.GetUiString("Notice.Result")</p></a>
                                    }
                                    @if (!string.IsNullOrEmpty(item.NoticeCancellations))
                                    {
                                        <a href="@Url.Kentico().FileUrl(item.NoticeCancellations, new FileUrlOptions() { AttachmentContentDisposition = true })"><p class="card-text"><i class="fa fa-cloud-download mr-2"></i>@Html.GetUiString("Notice.Cancellations")</p></a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
