﻿@model ArchivesDuMaroc.Models.ForecastProgramViewModel
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Programmes prévisionnels";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.ForecastProgramHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.ForecastProgramHeroTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-element">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 font">
                <div class="row">
                    @foreach (var item in Model.Slider)
                    {
                        <div class="col-md-6 col-lg-3 col-sm-6 mt-4">
                            <div class="card card-custom bg-white border-white border-0">
                                <div class="card-custom-img" style="background: url(@Url.Content("~/Content/images/back-Home-Ap.png"));"></div>
                                <div class="card-custom-avatar">
                                    <img class="img-fluid" src="@Url.Content("~/Content/images/logo-Card.png")" alt="Avatar" />
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title">@item.ForecastItemTitle</h4>
                                    <p class="card-text"><i class="fa fa-calendar mr-2"></i>@item.ForecastItemBudgetYear</p>

                                </div>
                                <div class="card-footer" style="background: inherit; border-color: inherit;">
                                    <a href="@Url.Kentico().FileUrl(item.ForecastItemFile, new FileUrlOptions() { AttachmentContentDisposition = true })" class="d-flex flex-row-reverse p-2 btn-green">
                                        <h5>@Html.GetUiString("Publication.MoreDetails")<i class="fa fa-cloud-download ml-2" aria-hidden="true"></i></h5>
                                    </a>
                                </div>
                            </div>
                            <!-- Copy until here -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>