﻿@using ArchivesDuMaroc.Models.InlineEditors.ImageUploaderEditor
@using ArchivesDuMaroc.Models.InlineEditors.TextEditor
@using ArchivesDuMaroc.Models.Widgets.CardWidget
@using ArchivesDuMaroc.Helpers.Extensions
@model CardWidgetViewModel

@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("InlineEditors/_ImageUploaderEditor", new ImageUploaderEditorViewModel
    {
        PropertyName = nameof(CardWidgetProperties.ImageGuid),
        Image = Model.Image,
        MessagePosition = PanelPositionEnum.Top,
        UseAbsolutePosition = true
    });
}

<div class="item">
    <div class="img-container">
        @if (Model.Image != null)
        {
            <a href="@Model.CTALink" @(Model.CTATarget ? "target=_blank" : "target=_self" )>
                <div class="background-img" style="background-image: url(@Url.KenticoImageUrl(Html.AttachmentImage(Model.Image)))"></div>
            </a>
        }
    </div>
    <div class="item-content">
        <h4 class="category" @(Model.Color != null ? "style=border-color:"+ Model.Color : "")>
            <a href="@Model.CTALink" @(Model.CTATarget ? "target=_blank" : "target=_self" ) @(Model.Color != null ? "style=border-color:"+ Model.Color+";color:"+Model.Color+";" : "")>
                @if (Context.Kentico().PageBuilder().EditMode)
                {
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(CardWidgetProperties.Category),
                        Text = Model.Category,
                        EnableFormatting = false
                    });
                }
                else
                {
                    @Html.Raw(Model.Category)
                }
            </a>
        </h4>
        <h3 class="title">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                {
                    PropertyName = nameof(CardWidgetProperties.Title),
                    Text = Model.Title,
                    EnableFormatting = false
                });
            }
            else
            {
                @Html.Raw(Model.Title)
            }
        </h3>
        <p class="description">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                {
                    PropertyName = nameof(CardWidgetProperties.Description),
                    Text = Model.Description
                });
            }
            else
            {
                @Html.Raw(Model.Description)
            }
        </p>
    </div>
</div>