﻿@using CMS.DocumentEngine
@using ArchivesDuMaroc.Models.InlineEditors.TextEditor
@using ArchivesDuMaroc.Models.Widgets.ContactWidget
@using ArchivesDuMaroc.Helpers.Extensions

@model ContactWidgetViewModel
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <div class="card-body form">
                @if (Context.Kentico().PageBuilder().EditMode)
                {
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(ContactWidgetProperties.Text),
                        Text = Model.Text,
                        EnableFormatting = false
                    });
                }
                else
                {
                    @Html.Raw(Model.Text)
                }
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card-body contact text-center h-100 white-text">
                <h3 class="my-4 pb-2">
                    @if (Context.Kentico().PageBuilder().EditMode)
                    {
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(ContactWidgetProperties.Title),
                            Text = Model.Title,
                            EnableFormatting = false
                        });
                    }
                    else
                    {
                        @Html.Raw(Model.Title)
                    }
                </h3>
                <ul class="text-lg-left list-unstyled ml-4">
                    <li><i class="fas fa-map-marker-alt pr-2"></i>
                            
                            @if (Context.Kentico().PageBuilder().EditMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(ContactWidgetProperties.Description),
                                    Text = Model.Description,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Description)
                            }
                    </li>
                    <li>
                        <i class="fa fa-phone pr-2"></i>
                            @if (Context.Kentico().PageBuilder().EditMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(ContactWidgetProperties.Phone),
                                    Text = Model.Phone,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Phone)
                            }
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-envelope pr-2"></i>
                            @if (Context.Kentico().PageBuilder().EditMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(ContactWidgetProperties.Email),
                                    Text = Model.Email,
                                    EnableFormatting = false
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Email)
                            }
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
