﻿@using CMS.DocumentEngine
@using ArchivesDuMaroc.Models.InlineEditors.ImageUploaderEditor
@using ArchivesDuMaroc.Models.InlineEditors.TextEditor
@using ArchivesDuMaroc.Models.Widgets.ReviewWidget
@using ArchivesDuMaroc.Helpers.Extensions
@model ReviewWidgetViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                Html.RenderPartial("InlineEditors/_ImageUploaderEditor", new ImageUploaderEditorViewModel
                {
                    PropertyName = nameof(ReviewWidgetProperties.ImageGuid),
                    Image = Model.Image,
                    MessagePosition = PanelPositionEnum.Top,
                    UseAbsolutePosition = true
                });
            }
            @if (Model.Image != null)
            {
                <a href="@Model.CTALink" @(Model.CTATarget ? "target=_blank" : "target=_self" )>
                    <div class="background-img" style="background-image: url(@Url.KenticoImageUrl(Html.AttachmentImage(Model.Image)))"></div>
                </a>
            }
        </div>
        <div class="col-md-4">
            <div class="item">
                <h4 class="category" @(Model.Color != null ? "style=border-color:" + Model.Color : "")>
                    @if (Context.Kentico().PageBuilder().EditMode)
                    {
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(ReviewWidgetProperties.Category),
                            Text = Model.Category,
                            EnableFormatting = false
                        });
                    }
                    else
                    {
                        @Html.Raw(Model.Category)
                    }
                </h4>
                <h3 class="title">
                    @if (Context.Kentico().PageBuilder().EditMode)
                    {
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(ReviewWidgetProperties.Title),
                            Text = Model.Title,
                            EnableFormatting = false
                        });
                    }
                    else
                    {
                        @Html.Raw(Model.Title)
                    }
                </h3>
                <p class="description">
                    @if (Context.Kentico().PageBuilder().EditMode)
                    {
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(ReviewWidgetProperties.Description),
                            Text = Model.Description
                        });
                    }
                    else
                    {
                        @Html.Raw(Model.Description)
                    }
                </p>
            </div>
        </div>
    </div>
</div>
