﻿@using CMS.DocumentEngine
@using ArchivesDuMaroc.Models.InlineEditors.TextEditor
@using ArchivesDuMaroc.Models.Widgets.ToolboxWidget
@model ArchivesDuMaroc.Models.Widgets.ToolboxWidget.ToolboxWidgetViewModel

<div class="item toolbox">
    @if (Model.Icon != null)
    {
        <span class="icon-back">
            <i class="@Model.Icon"></i>
        </span>

    }
    <h4 class="title">
        <a href="@Model.CTALink">
            @if (Context.Kentico().PageBuilder().EditMode)
            {
                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                {
                    PropertyName = nameof(ToolboxWidgetProperties.Title),
                    Text = Model.Title,
                    EnableFormatting = false
                });
            }
            else
            {
                @Html.Raw(Model.Title)
            }
        </a>
    </h4>
    <p class="content">
        @if (Context.Kentico().PageBuilder().EditMode)
        {
            Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
            {
                PropertyName = nameof(ToolboxWidgetProperties.Description),
                Text = Model.Description,
                EnableFormatting = false
            });
        }
        else
        {
            @Html.Raw(Model.Description)
        }
    </p>
</div>