﻿@using CMS.DocumentEngine
@using ArchivesDuMaroc.Models.InlineEditors.ImageUploaderEditor
@using ArchivesDuMaroc.Models.InlineEditors.TextEditor
@using ArchivesDuMaroc.Models.Widgets.TrainingWidget;
@using ArchivesDuMaroc.Helpers.Extensions
@model TrainingWidgetViewModel
<div>
    @if (Context.Kentico().PageBuilder().EditMode)
    {
        Html.RenderPartial("InlineEditors/_ImageUploaderEditor", new ImageUploaderEditorViewModel
        {
            PropertyName = nameof(TrainingWidgetProperties.ImageGuid),
            Image = Model.Image,
            MessagePosition = PanelPositionEnum.Top,
            UseAbsolutePosition = true
        });
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Card -->
            <div class="card card-cascade wider reverse">
                @if (Model.Image != null)
                {
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="@Url.KenticoImageUrl(Html.AttachmentImage(Model.Image))"
                             alt="Sample image">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                }

                <div class="card-body card-body-cascade text-center">

                    <h2 class="font-weight-bold">
                        <a>
                            @if (Context.Kentico().PageBuilder().EditMode)
                            {
                                Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                {
                                    PropertyName = nameof(TrainingWidgetProperties.Title),
                                    Text = Model.Title
                                });
                            }
                            else
                            {
                                @Html.Raw(Model.Title)
                            }
                        </a>
                    </h2>
                    @if (Context.Kentico().PageBuilder().EditMode)
                    {
                        Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                        {
                            PropertyName = nameof(TrainingWidgetProperties.Description),
                            Text = Model.Description
                        });
                    }
                    else
                    {
                        @Html.Raw(Model.Description)
                    }

                    <div class="social-counters">
                        <a href="" class="btn btn-fb">
                            <i class="fa fa-phone"></i>
                            <span class="clearfix  d-md-inline-block">
                                @if (Context.Kentico().PageBuilder().EditMode)
                                {
                                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                    {
                                        PropertyName = nameof(TrainingWidgetProperties.Phone),
                                        Text = Model.Phone
                                    });
                                }
                                else
                                {
                                    @Html.Raw(Model.Phone)
                                }
                            </span>
                        </a>
                        <a href="" class="btn btn-tw">
                            <i class="fa fa-envelope"></i>
                            <span class="clearfix  d-md-inline-block">
                                @if (Context.Kentico().PageBuilder().EditMode)
                                {
                                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                                    {
                                        PropertyName = nameof(TrainingWidgetProperties.Email),
                                        Text = Model.Email
                                    });
                                }
                                else
                                {
                                    @Html.Raw(Model.Email)
                                }
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="formation mt-5">
                @if (Context.Kentico().PageBuilder().EditMode)
                {
                    Html.RenderPartial("InlineEditors/_TextEditor", new TextEditorViewModel
                    {
                        PropertyName = nameof(TrainingWidgetProperties.Mission),
                        Text = Model.Mission
                    });
                }
                else
                {
                    @Html.Raw(Model.Mission)
                }
            </div>
        </div>
    </div>
</div>
