﻿@model ArchivesDuMaroc.Models.ActivityViewModel

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - " + Model.ActivityTitle;
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.ActivityHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.ActivityTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="my-5">
    <div class="container">
        <h2 class="h1-responsive font-weight-bold text-center my-3">
            @Model.ActivityMainTitle
        </h2>
        <p class="text-center w-responsive mx-auto mb-5">
            @Model.ActivitySubTitle
        </p>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <article class="col-md-12">
                <div class="post-thumbnail">
                    <figure>
                        <img src="@Url.Kentico().ImageUrl(@Model.ActivityMainImage, SizeConstraint.Empty))"
                             class="attachment-full size-full wp-post-image" alt="">
                    </figure>
                </div>
                <div class="content">
                    <div class="row evenements mb-5">
                        <div class="col-md-12">
                            <div class="event">
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    @Html.GetUiString("Activity.DateStart") : @Model.ActivityDateStart.ToShortDateString()
                                </div>
                                <div class="event-date">
                                    <i class="fa fa-calendar"></i>
                                    @Html.GetUiString("Activity.DateEnd") : @Model.ActivityDatend.ToShortDateString()
                                </div>
                                <div class="event-hour"><i class="fa fa-clock-o"></i> @Model.ActivityTime</div>
                                <div class="event-place">
                                    <i class="fa fa-map-marker"></i>
                                    @Model.ActivityLocation
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Raw(Model.ActivityText)
                </div>
                <div id="demo" class="carousel slide mb-4 mt-4" data-ride="carousel">
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner slider-activity">
                        @foreach (var item in Model.SliderImages)
                        {
                            <div class="carousel-item">
                                <img src="@Url.Kentico().ImageUrl(item.ActivityImage, SizeConstraint.Empty))" alt="@item.DocumentName" width="1100"
                                     height="500">
                            </div>
                        }
                        </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
                <div class="content">
                    <div class="row ">
                        <div class="col-md-12">
                            <h3 class="mb-3">@Html.GetUiString("Activities.Downloads")</h3>
                            <div class="download-wrap">
                                <div class="download">
                                    @foreach (var item in Model.SliderFiles)
                                    {
                                        <a href="@Url.Kentico().FileUrl(item.ActivityFile, new FileUrlOptions() { AttachmentContentDisposition = true })" class="button-download">
                                            <i class="fa fa-cloud-download"></i>
                                            @item.DocumentName
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="mb-3">Tags</h3>
                            @foreach (var item in Model.ActivityTags)
                            {
                                <p class="chip gray lighten-4">
                                <a href="@Url.Action("Tag", "Activities", new { id= item.Trim() })"> @item.Trim()</a>
                            </p>
                            }
                        </div>
                    </div>
                </div>

                <div id="share-buttons" class="noprint mt-4">
                    <span class="noprint">Partager : </span>
                    <a href="" title="Share on Facebook." class="facebook noprint" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="googleplus noprint" target="_blank">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                    <a href="" title="Share on LinkedIn" class="linkedin noprint" target="_blank">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="" title="Tweet this!" class="twitter noprint" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="" onclick="javascript:print();" title="Print this!" class="print">
                        <i class="fa fa-print" aria-hidden="true"></i>
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>
