﻿@model ArchivesDuMaroc.Models.ActivitiesViewModel
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Activités";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.ActivitiesHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.ActivitiesTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section latest">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Activities)
            {
            <article class="col-md-4 col-sm-4">
                <div class="post mt-4">
                    <div class="post_thumbnail">
                        <a href="@Url.Content(item.RelativeURL)" title="@item.ActivityMainTitle">

                            <img width="360" height="204" src="@Url.Kentico().ImageUrl(item.ActivityMainImage, SizeConstraint.Empty))"
                                 class="attachment-home-post size-home-post wp-post-image" alt="">
                        </a>
                    </div>
                    <div class="post-title">

                        <h3>
                            <a href="@Url.Content(item.RelativeURL)" title="@item.ActivityMainTitle">
                                @item.ActivityMainTitle
                            </a>
                        </h3>
                    </div>
                    <div class="post-excerpt">
                        @item.ActivitySubTitle
                    </div>
                    @*@if (item.ActivityText.Length > 470)
                    {
                    <div class="post-excerpt">
                        @Html.Raw(item.ActivityText.Substring(0, item.ActivityText.IndexOf(" ", 470, StringComparison.Ordinal)))...
                    </div>
                    }
                    else
                    {
                    <div class="post-excerpt">
                        @Html.Raw(item.ActivityText)
                    </div>
                    }*@
                </div>
            </article>
            }
        </div>
    </div>
</section>
