﻿<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.Kentico().WidgetZone()
        </div>
        <div class="col-md-6">
            @Html.Kentico().WidgetZone()
        </div>
    </div>
</div>
