﻿@model ArchivesDuMaroc.Models.ContactUsViewModel
@using Kentico.PageBuilder.Web.Mvc

@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc - Contactez-Nous";
}

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}
@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="block-banner banner-w-image "
                     style="background-image: url(@Url.Kentico().ImageUrl(@Model.ContactUsHeroImage, SizeConstraint.Empty))">
                    <div class="breadcrumb ">
                        <div class="container">
                            <ul>
                                <li class="home">
                                    <a style="cursor: pointer;" href="@Url.Action("", "Accueil")" title="Accueil">
                                        @Html.GetUiString("Hero.Home")
                                    </a>
                                </li>
                                @Html.Raw(Html.GetTreeLinks(Model.NodeGUID))
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <h1 class="page_title">
                            @Model.ContactUsTitle
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-element">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-7 col-md-7 mt-3">
                <iframe width="600" height="450" frameborder="0" style="border:0"
                        src="@Model.ContactUsLocation"
                        allowfullscreen=""></iframe>
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5 contact-form">
                <h1>@Model.ContactUsTitle</h1>

                @Html.Kentico().EditableArea("main", "AM.SingleColumnSection")

                @*<form class="block mbr-form promo" action="https://mobirise.com/" method="post"
              data-form-title="Mobirise Form">
            <input type="hidden" data-form-email="true"
                   value="44AuoOeYtJwJhCQAt1bwP6le5Z4RfRd5BZf43WsjSuwHcT0Qs78ZrHvX5++bPVZSjP2KWAwu7FMdyPJSg+JHFd9WHR94bYwVjv67MUE8EdCzbC0NmF20TCEyJMj7IT0z">
            <div class="form-row">
                <div class="form-group md-form col-md-6 col-sm-6 col-lg-6">
                    <input type="text" class="form-control input-contact" id="inputFirstName">
                    <label for="inputFirstName"><i class="fa fa-user-o icon-form"></i>Votre Nom</label>
                    <div class="line"></div>
                </div>
                <div class="form-group md-form col-md-6 col-sm-6 col-lg-6">
                    <input type="email" class="form-control input-contact" id="inputLastName">
                    <label for="inputLastName"><i class="fa fa-user-o icon-form"></i>Votre prenom </i></label>
                    <div class="line"></div>
                </div>
                <div class="form-group md-form col-md-12 col-sm-12 col-lg-12">
                    <input type="text" class="form-control input-contact" id="inputEmail">
                    <label for="inputEmail"><i class="fa fa-envelope-o icon-form"></i>Votre Email</label>
                    <div class="line"></div>
                </div>
                <div class="form-group md-form col-md-12 col-sm-12 col-lg-12">
                    <input type="text" class="form-control input-contact" id="inputSujet">
                    <label for="inputSujet"><i class="fa fa-envelope-o icon-form"></i>Sujet</label>
                    <div class="line"></div>
                </div>
                <div class="form-group md-form col-md-12 col-sm-12 col-lg-12 textarea">
                    <textarea type="" class="form-control input-contact" id="inputMessage" style="min-height:70px;"></textarea>
                    <label for="inputMessage"><i class="fa fa-pencil icon-form"></i>Message</label>
                    <div class="line"></div>
                </div>
                <div class="form-group md-form col-md-12 col-sm-12 col-lg-12 promo-buttom promo">
                    <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                    <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group md-form col-md-6 col-sm-6 col-lg-6 promo-buttom promo">
                    <input type="submit" class="btn btn-success btn-send" value="Envoyer">
                </div>
            </div>
        </form>*@
            </div>
        </div>
    </div>
</section>