﻿@model ArchivesDuMaroc.Models.HomeViewModel
@using Kentico.PageBuilder.Web.Mvc
@using System.Globalization
@using Kentico.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Archives Du Maroc";
}

@section styles
{
    @Html.Kentico().PageBuilderStyles()
}
@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}
<section class="events-carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner slider-home">
                        @foreach (var slider in Model.Slider)
                        {
                            <div class="carousel-item">
                                <img class="d-block w-100" src="@Url.Kentico().ImageUrl(slider.Image, SizeConstraint.Empty)" alt="slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h2>@slider.Title</h2>
                                    <p>
                                        @Html.Raw(slider.Description)
                                    </p>
                                </div>
                            </div>
                        }
                        @if (Model.Slider.Count > 1)
                        {
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="smart-links">
    @Html.Kentico().EditableArea("main", "FourColumnSection", new string[] { "ArchivesDuMaroc.Widget.ToolboxWidget" })
</section>
<section class="large-element">
    @Html.Kentico().EditableArea("review", "AM.SingleColumnSection", new string[] { "ArchivesDuMaroc.Widget.ReviewWidget" })
</section>

<section class="multiple-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="540" height="190" src="https://www.youtube.com/embed/@Model.YoutubeCode"
                                frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="item-content">
                        <h4 class="category"><a href="@Url.Action("", "Presentation")"><p>@Model.VideoCategory</p></a></h4>
                        <h3 class="title">@Model.VideoTitle</h3>
                        <p class="description">
                            @Model.VideoDescription
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                @Html.Kentico().EditableArea("cards_1", "TwoColumnHomeSection", new string[] { "ArchivesDuMaroc.Widget.CardWidget" })
            </div>
        </div>
    </div>
</section>

<section class="multiple-elements">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="item">
                    <div class="img-container">
                        <a href="">
                            <div class="background-img" style="background-image: url('@Url.Kentico().ImageUrl(@Model.lastPublicationItem.PublicationImage, SizeConstraint.Empty))')"></div>
                        </a>
                    </div>
                    <div class="item-content">
                        <h4 class="category"><a href="@Url.Action("Index", "Publications")"><p>@Html.GetUiString("Home.Our.Publications")</p></a></h4>
                        <h3 class="title"><a href="@Url.Content(Model.lastPublicationItem.PublicationRelativeURL)">@Model.lastPublicationItem.PublicationTitle</a></h3>
                        
                        @if (Model.lastPublicationItem.PublicationText.Length > 150)
                        {
                            <p class="description">
                                @Html.Raw(Model.lastPublicationItem.PublicationText.Substring(0, Model.lastPublicationItem.PublicationText.IndexOf(" ", 150, StringComparison.Ordinal)))...
                            </p>
                        }
                        else
                        {
                            <p class="description">
                                @Html.Raw(Model.lastPublicationItem.PublicationText)
                            </p>
                        }
                        </div>
                </div>
            </div>
            <div class="col-md-8">
                @Html.Kentico().EditableArea("cards_2", "TwoColumnHomeSection", new string[] { "ArchivesDuMaroc.Widget.CardWidget" })
            </div>
        </div>
    </div>
</section>