﻿@using ArchivesDuMaroc.Models.InlineEditors.ImageUploaderEditor
@using Kentico.PageBuilder.Web.Mvc
@model  ImageUploaderEditorViewModel

@{
    Layout = null;
    HtmlString GetActionUrl()
    {
        return Url.Kentico().AuthenticateUrl(Url.Action("Upload", "ImageUploader", new
        {
            pageId = Context.Kentico().PageBuilder().PageIdentifier
        }), false);
    }

    string GetContainerClass()
    {
        if (Model.Image != null)
        {
            return "uploader-container";
        }

        return Model.UseAbsolutePosition ? "uploader-empty-container absolute" : "uploader-empty-container";
    }

    string GetMessagePositionClass()
    {
        switch (Model.MessagePosition)
        {
            case PanelPositionEnum.Bottom:
                return "bottom";

            case PanelPositionEnum.Top:
                return "top";

            default:
                return "center";
        }
    }
}
@using (Html.Kentico().BeginInlineEditor("image-uploader-editor", Model.PropertyName,
    new
    {
        @class = "image-uploader-editor",
        data_url = GetActionUrl().ToString()
    }))
{
    <div class="@GetContainerClass()">
        <div class="uploader">
            <div class="dz-message @GetMessagePositionClass()">
                <i class="icon-arrow-up-line"></i>
                <div>
                    Drop image here or <a class="dz-clickable">click</a> to browse
                </div>
            </div>
        </div>
    </div>
}